<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {%include '_scripts.html'%}
</head>
<body>
    <h3>{{task.name}}</h3>
    <h5>Added on: {{moment(task.timestamp).fromNow()}}</h5>
    <h5>Finish by: {{moment(task.finishdate).format('LLL')}}</h5>

    {% import 'bootstrap/wtf.html' as wtf %}
    {{ wtf.quick_form(form, action="/task/{}".format(task.id)) }}

    <div class= "subtasks">
        {%for subtask in subtask%}
            <div class="activity">
                <p>{{loop.index}} : {{subtask.name}}</p>
            </div>
        {%endfor%}
    </div>
    <style>
        .form-control{
            width: inherit;
            margin: 0 auto 5px;
        }
        body{
            text-align: center;
        }
    </style>
</body>
</html>