<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{task.name}} | My ToDo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {%include '_scripts.html'%}
</head>
<body>
    {% if task.image %}
        <img src="{{url_for('static',filename='photos/' +task.image )}}">
    {% endif %}
    <h3>{{task.name}}</h3>
    <h5>Added on: {{moment(task.timestamp).fromNow()}}</h5>
    {% if task.completed == True %}
        <p>Task has been completed</p>
        <h5>Finished on: {{moment(task.finishdate).format('LLL')}}</h5>
    {% else %}
        <h5>Finish by: {{moment(task.finishdate).format('LLL')}}</h5>
        <p><a href="{{url_for('completeTask', id=task.id)}}">Mark as Completed</a></p>
        {% import 'bootstrap/wtf.html' as wtf %}
        {{ wtf.quick_form(form, action="/task/{}".format(task.id)) }}
    {% endif %}


    <div class= "subtasks">
        {%for subtask in subtask%}
            <div class="activity">
                <p>{{loop.index}} : {{subtask.name}}</p>
            </div>
        {%endfor%}
    </div>
    <style>
        body{
            padding-top: 10px;
            background-color: #636363;
        }
        img{
            width: 20em;
        }
        .form-control{
            width: inherit;
            margin: 0 auto 5px;
            font-size: 2em;
        }
        body{
            text-align: center;
        }
        .subtasks{
            margin-top: 10px;
            font-size: 3em;
        }
        h3{
            font-size: 5em;
        }
    </style>
</body>
</html>